{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 style="font-size: 42px;">Reset Password</h1>
    <form action="/forgot-password" method="POST">
        <label for="email">Email:</label><br>
        <input type="text" name="email"><br><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p style="color: red;">
        {% for reason in rejectreasons %}
        {{ reason }}<br>
        {% endfor %}
    </p>
</div>
{% endblock %}