{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div style="text-align: center; line-height: 28px;">
    <h1 style="font-size: 42px;">Register</h1>
    <form action="/forgot-password" method="POST">
        <label for="password">New Password:</label><br>
        <input type="password" name="password"><br>
        <label for="password-conf">Confirm Password:</label><br>
        <input type="password" name="password-conf"><br>
        <input type="submit" value="Submit">
    </form>
    <p style="color: red;">
        {% for reason in rejectreasons %}
        {{ reason }}<br>
        {% endfor %}
    </p>
</div>
{% endblock %}